<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionStrings"
         connectionString="Data Source=TXXYTSGJSB-PC\SQLEXPRESS;Initial Catalog=CMS;User ID=sa;pwd=black123"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ImageUploadFolder" value="\FileUpload\Image\"/>
    <add key="PageSize" value="10"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows"></authentication>
    <trust level="Full"/>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="ajax"
              namespace="AjaxControlToolkit"
              assembly="AjaxControlToolKit"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1024000" />
  </system.web>
</configuration>
